<footer class="footer" id="footer">
    <div class="footer-container">
        <p>&copy; 2024 The Flames - Smash or Pass. All rights reserved.</p>
        <p><a href="/privacy">Privacy</a> | <a href="/tos">TOS</a> | <a href="/imprint">Imprint</a> | <a href="#" data-cc="show-preferencesModal">Cookies</a></p>
    </div>
</footer>