<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smash or Pass</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <div class="container">
            <h1 class="text-center">Imprint</h1>
            Joshua Saar<br>
            66763 Dillingen<br>
            Bliesstr. 28<br>
</body>
</html>
